<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link rel="stylesheet" href="../styles/estilos.css">
    <script src="https://kit.fontawesome.com/5280f41aa1.js" crossorigin="anonymous"></script>
</head>

<body>


    <!-- CONTENIDO -->
    <div class="container">

        <!-- HEADER -->
        <header>
            <div class="fondo">
                <nav>
                    <ul>
                        <li><a href="#contacto">Contacto</a></li>
                        <li><a href="#explora">Explora</a></li>
                        <li><a href="#acercaDe">Acerca de</a></li>
                    </ul>
                </nav>

                <div class="textoHeader">
                    <div class="cajaHeader">
                        <p id="escribir">Recetas y arte en la cocina</p>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <!-- ACERCA DE -->

            <section id="acercaDe">
                <article>
                    <img src="../img/acercaDe.jpg" alt=""><br><br><br><br><br><br>
                    <p class="titulo">Acerca de</p>
                    <p class="texto">

                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque molestias obcaecati
                        quos
                        blanditiis consectetur quo doloribus odio ullam temporibus, accusamus vero deserunt quam,
                        quaerat
                        quisquam velit. Recusandae omnis harum aperiam natus voluptatem beatae temporibus explicabo
                        nobis
                        officiis est adipisci eos corrupti odio, expedita obcaecati suscipit totam aspernatur veniam.
                        Corrupti natus ad explicabo sunt voluptates fugit quia dolorum saepe, omnis beatae eligendi!
                        Ducimus
                    </p>
                </article>
            </section>

            <!-- EXPLORA -->

            <section id="explora">
                <br>
                <p class="titulo">Explora</p>
                <div class="contenedorExplora">
                    <div class="caja uno">
                        <img src="../img/explora1.jpg" alt="">
                        <p class="tituloCatalogo">RECETAS MÁS POPULARES DE CADA PAÍS</p>
                        <p class="textoCatalogo">En este catalogo podrás ver las recetas
                            más famosas de algunos países</p>
                    </div>
                    <div class="caja dos">
                        <img src="../img/explora2.jpg" alt="">
                        <p class="tituloCatalogo">RECETAS MÁS FAMOSAS DEL MUNDO</p>
                        <p class="textoCatalogo">En este catálogo podrás ver la recetas
                            más famosas de todo el mundo </p>
                    </div>
                    <div class="caja tres">
                        <img src="../img/explora3.jpg" alt="">
                        <p class="tituloCatalogo">RECETAS SALUDABLES</p>
                        <p class="textoCatalogo">En este catálogo podrás ver recetas
                            más saludables para tu día a día
                        </p>
                    </div>
                    <div class="caja cuatro">
                        <img src="../img/explora4.jpg" alt="">
                        <p class="tituloCatalogo">RECETAS VEGANAS/VEGETARIANAS</p>
                        <p class="textoCatalogo">En este catálogo podrás ver recetas
                            para personas veganas o vegetarianas </p>
                    </div>
                    <div class="caja cinco">
                        <img src="../img/explora5.jpg" alt="">
                        <p class="tituloCatalogo">RECETAS PARA COMIDAS RAPIDAS</p>
                        <p class="textoCatalogo">En este catálogo podrás ver recetas sencillas
                            para los que no cocinan </p>
                    </div>

                </div>

            </section>

            <!-- CONTACTO -->

            <section id="contacto">
                <p class="titulo">Contacto</p>
                <form action="" class="formulario">
                    <input type="text" class="nombre" placeholder="Nombre">
                    <input type="text" class="apellido" placeholder="Apellido">
                    <textarea name="" class="mensaje" placeholder="Mensaje"></textarea>
                    <input type="submit" value="Enviar">
                </form>
            </section>
        </main>

        <!-- FOOTER -->

        <footer>

            <button class="redSocial twitter"><i class="fab fa-twitter"></i></button>
            <button class="redSocial facebook"><i class="fab fa-facebook-f"></i></button>
            <button class="redSocial instagram"><i class="fab fa-instagram"></i></button>
            <button class="redSocial youtube"><i class="fab fa-youtube"></i></button>
            <p>Copyright © Todos los derechos reservados</p>


        </footer>

    </div>

    <div class="go-top-container">
        <div class="go-top-button">
            <i class="fas fa-angle-up"></i>
        </div>
    </div>



</body>
<script src="../JavaScript/script.js"></script>


</html>